<section class="list-expansion"> 
  <mat-card *ngFor="let item of item" class="card-list">
    <mat-card-title> 
      <ng-template [ngIf]="item.nome_social" [ngIfElse]="nome_civil">
        <div class="column-2"> 
          <span class="p-titulo">{{item.nome_social}}</span>
        </div>
    </ng-template>
    
    <ng-template #nome_civil>
      <div class="column-2"> 
        <span class="p-titulo">{{item.nome}}</span>
      </div>
    </ng-template>
      
      <div class="column-2">
        <span class="p-subtitulo2" [hidden] ="!item.orientacao_sexual">Matrícula:</span> 
        <span class="p-subtitulo1" [hidden] ="!item.orientacao_sexual"> {{item.cod_filial}}-{{item.cod_id}}</span>   
      </div>
    </mat-card-title>               
      <mat-accordion >
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="expansion-panel-header">
            <mat-panel-title>
              Informações Pessoais
            </mat-panel-title>
          </mat-expansion-panel-header>  
          <mat-card-content>
            <ng-template [ngIf]="item.nome_social" [ngIfElse]="nome_civil">
              <div class="column-2"> 
                <span class="p-titulo">{{item.nome_social}}</span>
              </div>
              <div class="column-2"> 
                <span class="p-titulo">{{item.nome}}</span>
              </div>
          </ng-template>
          
          <ng-template #nome_civil>
            <div class="column-2"> 
              <span class="p-titulo">{{item.nome}}</span>
            </div>
          </ng-template>
        </mat-card-content>
        <mat-card-content *ngIf ="item.data_nascimento">
            <div class="column-2">
              <span class="p-subtitulo1" [hidden] ="!item.data_nascimento"> 
              <img src="assets/icons/ic-nascimento-color.svg" class="icon-small"> {{item.data_nascimento}}</span>
            </div>
            <div class="column-2">
              <span class="p-subtitulo1" [hidden] ="!item.idade"> 
              <img src="assets/icons/ic-birth-date-color.svg" class="icon-small"> {{item.idade}}</span> 
            </div>
          </mat-card-content>
          <mat-card-content *ngIf ="item.cor_etnia">
            <span class="item-subtitulo2" >Cor/Etinia:</span> 
            <span class="item-subtitulo1"> {{item.cor_etnia}}</span>
          </mat-card-content>
          <mat-card-content> 
            <div class="column-3" *ngIf ="item.sexo_biologico">
              <span class="item-subtitulo2">Sexo Biológico:</span> 
              <span class="item-subtitulo1"> {{item.sexo_biologico}}</span>
            </div>                     
            <div class="column-3" *ngIf ="item.identidade_genero">
              <span class="item-subtitulo2" >Identidade de Gênero:</span> 
              <span class="item-subtitulo1"> {{item.identidade_genero}}</span>
            </div>                
            <div class="column-3" *ngIf ="item.orientacao_sexual">
              <span class="item-subtitulo2">Orientação Sexual:</span> 
              <span class="item-subtitulo1"> {{item.orientacao_sexual}}</span>       
            </div>  
          </mat-card-content>
          <mat-card-content>
            <mat-card-subtitle class="">Dados de Contato</mat-card-subtitle>
            <div class="column-3" *ngIf ="item.wap">
              <img src="assets/icons/ic-wap.svg" class="icon-small"> <span class="item-subtitulo3">{{item.wap}}</span>
            </div>   
            <div class="column-3" *ngIf ="item.telefone">
              <img src="assets/icons/ic-telefone.svg" class="icon-small"> <span class="item-subtitulo3" >{{item.telefone}}</span>
            </div>    
            <div class="column-3" *ngIf ="item.email">
              <img src="assets/icons/ic-email.svg" class="icon-small"> <span class="item-subtitulo3"> {{item.email}}</span>     
            </div>
          </mat-card-content>
          </mat-expansion-panel>
      </mat-accordion>
    <mat-card-actions>
      <button mat-button><span class="card-actiocns">Editar</span></button>
      <button mat-button><span class="card-actiocns">Boletos</span></button>
      <button mat-button><span class="card-actiocns">Resultados</span></button>
    </mat-card-actions>
  </mat-card>    
</section>
