<mat-list class= "list-expansion">
  <mat-accordion *ngFor="let item of item">
    <mat-divider></mat-divider>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="expansion-panel-hover">
        <mat-panel-title>
          <p class="lbl-mediumboldupper">{{item.titulo}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="lbl-mediumboldcaptz" [hidden] ="!item.setor">{{item.setor}}</p>
        <mat-card class="card-expansion" *ngIf ="item.sinonimia"><p class="lbl-mediumboldupperwhite">Sinonímia</p></mat-card>
        <p class="p-texto" [hidden] ="!item.sinonimia">{{item.sinonimia}} </p>
        <mat-card class="card-expansion" *ngIf ="item.matbiologico"><p class="lbl-mediumboldupperwhite">Material Biológico</p></mat-card>
        <p class="p-texto" [hidden] ="!item.matbiologico">{{item.matbiologico}}</p>
        <mat-card class="card-expansion" *ngIf ="item.volume"><p class="lbl-mediumboldupperwhite">Volume</p></mat-card>
        <p class="p-texto" [hidden] ="!item.volume">{{item.volume}} </p>
        <mat-card class="card-expansion" *ngIf ="item.conservante"><p class="lbl-mediumboldupperwhite">Conservante</p></mat-card>
        <p class="p-texto" [hidden] ="!item.conservante">{{item.conservante}} </p>
        <mat-card class="card-expansion" *ngIf ="item.interverente"><p class="lbl-mediumboldupperwhite">Interferentes</p></mat-card>
        <p class="p-texto" [hidden] ="!item.interverente">{{item.interverente}}</p>
        <mat-card class="card-expansion" *ngIf ="item.instrucoes"><p class="lbl-mediumboldupperwhite">Instruções ao Paciente</p></mat-card>
        <p class="p-texto" [hidden] ="!item.instrucoes">{{item.instrucoes}}</p>
        <mat-card class="card-expansion" *ngIf ="item.interpretacao"><p class="lbl-mediumboldupperwhite">Interpretação Clínica</p></mat-card>
        <p class="p-texto" [hidden] ="!item.interpretacao">{{item.interpretacao}} </p>
        <p class="p-fonte" [hidden] ="!item.fonte"> Fonte: {{item.fonte}}</p>
    </mat-expansion-panel>
    <mat-divider></mat-divider>    
  </mat-accordion>
</mat-list>
