<!-- Section com os botões de ação -->
<section class="sub-menu">  
  <a href="dash">    
    <img src="assets/icons/ic-farmaco.svg" class="icon-mediun" matTooltip="Cadastrar um novo medicamento." matTooltipClass="tooltip-red">   
  </a>
  <a href="dash">    
    <img src="assets/icons/search-outline-white.svg" class="icon-mediun" matTooltip="Localizar um medicamento." matTooltipClass="tooltip-red">   
  </a> 
</section>
<!-- -->
<section class= "list-content">
  <mat-card *ngFor="let item of item" class="card-expansion">
  <p class="lbl-mediun_bold_upper">{{item.titulo}}</p>
  <mat-accordion >    
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header >
        <mat-panel-title> Formas Farmacêuticas </mat-panel-title>
      </mat-expansion-panel-header> 
      <mat-card class="card-expansion" *ngFor="let sub of item.caracteristicas">
        <div class="column-1" *ngIf ="sub.forma">         
          <span class="lbl-small_bold_upper"> {{sub.forma}}</span>
        </div> 
      <div class="column-3" *ngIf ="sub.composicao">
        <span class="lbl-small_bold_upperred">Concentração/Composição: </span> 
        <span class="lbl-mediumcapitalize"> {{sub.composicao}}</span>
      </div>  
      <div class="column-3" *ngIf ="sub.codAtc">
        <span class="lbl-small_bold_upperred">Código ATC: </span> 
        <span class="lbl-mediumcapitalize"> {{sub.codAtc}}</span>
      </div>                          
      <div class="column-3" *ngIf ="sub.componente">
        <span class="lbl-small_bold_upperred">Componente: </span> 
        <span class="lbl-mediumcapitalize"> {{sub.componente}}</span>
      </div> 
    </mat-card>           
      <p class="p-fonte" [hidden] ="!item.fonte"> Fonte: {{item.fonte}}</p>        
      </mat-expansion-panel>     
    </mat-accordion>
    <mat-card-actions>
      <a href="dash" class="a-hover-red">
        <button mat-button matTooltip="Alterar as configurações do medicamento." matTooltipClass="tooltip-red"> 
          <span class="card-actiocns">Editar</span>
        </button> 
      </a>
    </mat-card-actions>
  </mat-card>
</section>

