html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url(/assets/background/fundo.svg) 0 0/100% no-repeat;
    background-color: #f3efef;
}


/* /Section*/

.header-toolbar {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
    background: url(/assets/background/fundo.svg) 0 0/100% no-repeat;
    color: rgb(255, 255, 255);
    display: table;
    align-items: center;
}

.list-expansion {
    margin: 60px 5px 0px 5px;
}

.list-content {
    margin: 65px 5px 0px 5px;
}

mat-form-field,
mat-label {
    min-width: 30px;
    max-width: 200px;
    color: #ffffff;
    font-size: medium;
    height: min-content;
    border-radius: 10px;
    outline: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
    border-radius: 10px;
}

input {
    color: white;
}

.sub-menu {
    position: fixed;
    height: fit-content;
    top: 5px;
    right: 5px;
    z-index: 2;
    width: 200px;
    display: table;
}


/*CSS Button */

.button-menu {
    display: table-cell;
    padding: 8px;
    color: #ffffff;
    text-transform: uppercase;
}

.button-sub-menu {
    border-radius: 15px 50px;
}


/* CSS Panel Expansion*/

mat-expansion-panel-header {
    background: #ffffff;
}


/* CSS link a*/

a {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1px;
}

.a-hover-red :hover {
    background: #7a0a0a;
    color: #ffffff;
    border-radius: 5px;
}

.a-hover-white :hover {
    background: #ffffff;
    color: #ffffff;
    border-radius: 5px;
}


/*CSS ìcones */

.icon {
    height: 30px;
    width: 30px;
    padding-right: 5px;
    color: #ffffff;
}

.icon-mediun {
    height: 40px;
    width: 40px;
    padding: 5px;
    color: #ffffff;
    fill: white;
    transition: all 1s;
    border: 3px solid transparent;
}

.icon-small {
    height: 30px;
    width: 30px;
    padding-right: 2px;
    margin-bottom: -8px;
    color: #ffffff;
}

.icon-small-dark {
    height: 30px;
    width: 30px;
    padding-right: 2px;
    margin-bottom: -8px;
    color: black;
}


/* Copnfiguração de transição do ícone*/

.transiction {
    transition: all 1s;
    border: 2px solid transparent;
}


/*CSS Icon Hover */

.icon-border-radius:hover {
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.icon-border-menu:hover {
    border: 2px solid #ffffff;
    border-radius: 10%;
}


/*CSS Labels */

.lbl-mediun_bold_upper {
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-small_bold_upper {
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-small_bold_upperred {
    font-size: small;
    font-weight: bold;
    color: #7a0a0a;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-small_bold_upper_white {
    font-size: small;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-smallupperbold {
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-smallcapitalize {
    font-size: small;
    text-transform: capitalize;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-mediumcapitalize {
    font-size: medium;
    text-transform: capitalize;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-mediumboldcaptz {
    font-size: medium;
    font-weight: bold;
    text-transform: capitalize;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-medium {
    font-size: medium;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.lbl-buttom-menu {
    font-size: small;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

.lbl-buttom-menu2 :hover {
    background: #7a0a0a;
    color: #ffffff;
    border-radius: 5px;
}


/*Paragrafos */

.p-texto {
    font-size: medium;
    padding: 5px;
    text-align: justify;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}

.p-fonte {
    font-size: xx-small;
    text-align: right;
    margin: 0px;
    padding: 0px;
    -webkit-touch-callout: none;
    /* iPhone OS, Safari */
    -webkit-user-select: none;
    /* Chrome, Safari 3 */
    -khtml-user-select: none;
    /* Safari 2 */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
    /* Possível implementação no futuro */
}


/* CSS Card*/

mat-card-actions {
    align-items: flex-end;
    display: flex;
    align-self: flex-end;
}

.card-actiocns {
    font-weight: bold;
    text-transform: uppercase;
}

.card-expansion {
    color: #000000;
    height: fit-content;
    margin: 5px;
}

.card-list {
    margin-bottom: 5px;
}


/* CSS Colunas*/

.column-1 {
    width: 100%;
    display: inline-table;
    text-align: justify;
}

.column-2 {
    width: calc(100% / 2);
    display: inline-table;
    text-align: justify;
}

.column-3 {
    width: calc(100% / 3);
    display: inline-table;
    text-align: justify;
}

.column-4 {
    width: calc(100% / 4);
    display: inline-table;
    text-align: justify;
}

.column-5 {
    width: calc(100% / 5);
    display: inline-table;
    text-align: justify;
}

.column-6 {
    width: calc(100% / 6);
    display: inline-table;
    text-align: justify;
}

.column-10 {
    width: calc(100% / 10);
    display: inline-table;
    text-align: justify;
}

.column-20 {
    width: calc(100% / 20);
    display: inline-table;
    text-align: justify;
}


/* CSS Hints de informação*/

.tooltip-red {
    color: #ffffff;
    /*Cor da fonte */
    background: #7a0a0a;
    /*Cor do fundo */
}


/*Telas*/

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 768px) and (max-width: 767px) {}


/*Biblioteca*/


/*Efeitos*/

.effects-rotate {
    transition: all 1s;
}

.effects-border-radius {
    transition: all .5s;
    border: 10px solid transparent;
}

.effects-border-radius:hover {
    border: 10px solid #136497;
    border-radius: 50%;
}


/*Efeito Scale */

.effects-scale {
    transition: all 0.5s;
    cursor: pointer;
}

.effects-scale:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


/*Efeito Drop Shadow */

.effects-dropshadow {
    transition: all 0.5s;
    cursor: pointer;
}

.effects-dropshadow:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}


/*Extra - Todos Efeitos Juntos (menos o BLUR) */

.multieffects {
    transition: all .5s;
    border: 10px solid #eeeeee;
}

.multieffects:hover {
    border: 10px solid #781f40;
    border-radius: 50%;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);
}