html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: url(/assets/background/fundo.svg) 0 0/100% no-repeat ; }

/*CSS Esqueleto */

.header-toolbar{
  position: fixed;
  height:50px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
  background: url(/assets/background/fundo.svg) 0 0/100% no-repeat ;
  color: rgb(255, 255, 255);
  display: table;
  align-items: center;
}

.button-menu {
  display: table-cell;
  padding: 8px;
  color: #ffffff;
  text-transform: uppercase;
}
.txt-buttom-menu {
  font-size: small;
  text-transform: uppercase;
  color: #ffffff;
}
.section {
  margin-top: 50px;
}

.dropdown-red {
  background-image: linear-gradient(to right, rgba(66, 5, 5, 0.815) , rgba(175, 19, 19, 0.87));
}
/* CSS Panel Expansion*/

mat-expansion-panel-header{
  background: #ffffff;
}

mat-expansion-panel-header :hover{
  color:#aa0c0c;
  padding: 3px;
}

.card-actiocns {
  font-weight: bold;
  text-transform: uppercase;
}

.list-expansion{
  margin: 50px 10px 0px 10px;
}

.card-expansion {
  background-image: linear-gradient(to right, rgb(87, 4, 4) , rgba(155, 9, 9, 0.603));
  color: #ffffff;
  height: 8px;
}

/*CSS ìcones */
.icon {
  height: 30px;
  width: 30px;
  padding-right: 5px;
  color: #ffffff;
}

.icon-small {
  height: 30px;
  width: 30px;
  padding-right: 2px;
  margin-bottom: -8px;
}
.icon-small-dark {
  height: 30px;
  width: 30px;
  padding-right: 2px;
  margin-bottom: -8px;
  color: black;
}

.list-cliente {
  font-size: medium;
  font-weight: bold;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
}
/* CSS Texto na aplicação*/
.p-titulo {
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
}

.p-subtitulo {
 font-size: small;
 text-transform: uppercase;
 font-weight: bold;
 -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
}

.p-subtitulo1 {
  font-size: medium;
  text-transform: capitalize;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
   -webkit-user-select: none;    /* Chrome, Safari 3 */
   -khtml-user-select: none;     /* Safari 2 */
   -moz-user-select: none;       /* Firefox */
   -ms-user-select: none;        /* IE10+ */
   user-select: none;            /* Possível implementação no futuro */
 }

.p-subtitulo2 {
  font-size: medium;
  font-weight: bold;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
   -webkit-user-select: none;    /* Chrome, Safari 3 */
   -khtml-user-select: none;     /* Safari 2 */
   -moz-user-select: none;       /* Firefox */
   -ms-user-select: none;        /* IE10+ */
   user-select: none;            /* Possível implementação no futuro */
 }

 .item-subtitulo1 {
  font-size: medium;
  text-transform: capitalize;
  margin-right: 15%;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
   -webkit-user-select: none;    /* Chrome, Safari 3 */
   -khtml-user-select: none;     /* Safari 2 */
   -moz-user-select: none;       /* Firefox */
   -ms-user-select: none;        /* IE10+ */
   user-select: none;            /* Possível implementação no futuro */
 }

 .item-subtitulo3 {
  font-size: medium;
  margin-right: 15%;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
   -webkit-user-select: none;    /* Chrome, Safari 3 */
   -khtml-user-select: none;     /* Safari 2 */
   -moz-user-select: none;       /* Firefox */
   -ms-user-select: none;        /* IE10+ */
   user-select: none;            /* Possível implementação no futuro */
 }

.item-subtitulo2 {
  font-size: medium;
  font-weight: bold;
  margin-right: 0.5%;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
   -webkit-user-select: none;    /* Chrome, Safari 3 */
   -khtml-user-select: none;     /* Safari 2 */
   -moz-user-select: none;       /* Firefox */
   -ms-user-select: none;        /* IE10+ */
   user-select: none;            /* Possível implementação no futuro */
 }
.p-texto {
  font-size: small;
  padding: 5px;
  text-align: justify;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
}

.p-fonte {
  font-size: xx-small;
  text-align: right;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
}
.card-list {
  margin-bottom: 5px;
}

.container {
  width: 1350px;
  height: 600px;
}

.column-2{
  width: calc(100% / 2);
  display: inline-block;
  margin-bottom: 10px;
}

.column-3{
  width: calc(100% / 3);
  display: inline-block;
  margin-bottom: 10px;
}

.column-4{
  width: calc(100% / 4);
  display: inline-block;
}

/*Telas*/
@media screen and (max-width: 1024px) {

}

